:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-button-color: #F5F4FA;
    --accent-button-color: #2196F3;
    --full-white: #ffffff;
    --timing-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-transform: none;
    background-color: var(--full-white);
}
ul {
    list-style: none;
}
a {
    color:inherit;
    text-decoration: none;
    display: block;
}
* {
    margin: 0px;
    padding: 0px;
}
img {
    display: block;
}
textarea {
    resize: none;
}




/*-- Шапка навигация,контакты --*/

#header {
    background-color: var(--full-white);
    border-bottom: 1px solid #E5E5E5;
}
.logo {
    width: 145px;
    padding-top: 24px;
    padding-bottom: 25px;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-links{
    display: flex;
    padding: 0px;
    padding-top: 32px;
    margin-left:93px;
    font-size: 14px;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.02em;
}
.nav-links li:not(:last-child){
    margin-right: 50px;

}   
.nav-contacts {
    display: flex;
    margin-left: auto;
    font-style: normal;
    padding: 0px;
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 2;
    letter-spacing: 0.02em;
}
.nav-contacts li:not(:last-child){
    margin-right: 50px;
}
.ul-fix {
    display: flex;
    align-items: center;
}
.nav-contacts .icon {
    margin-right: 10px;
}




/* СЕКЦИЯ 1 */
.section-one {
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img\ Overlay.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

}

.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-container h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


    /*СЕКЦИЯ 2*/
.section-two {
    padding-top: 94px;
}
.fix-txt {
    display: flex;
    justify-content: space-between;
}

.fix-txt li {
    width: 270px;
}

.fix-txt li:not(:last-child) {
    margin-right: 30px;
}

.fix-txt h3 {
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 10px;
}
.fix-txt p {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.list-item::before {
    display: block;
    content: "";
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color:#F5F4FA;
}
.icon-antena::before {
    background-image: url(../images/icons/1\ antenna.svg);
    background-size: 72px
}
.icon-clock::before {
    background-image: url(../images/icons/2\ clock.svg);
    background-size: 72px
}
.icon-diagram::before {
    background-image: url(../images/icons/3\ diagram.svg);
    background-size: 72px
}
.icon-astronaut::before {
    background-image: url(../images/icons/4\ astronaut.svg);
    background-size: 72px
}




    /*СЕКЦИЯ 3*/
.section-three {
        padding-top: 94px;
        padding-bottom: 94px;
    }
.examp-ul {
    display: flex;
    justify-content: space-between;
}
.examples-container h2 {
    color: var(--primary-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 50px;
}
.examp-ul li {
    position: relative;
    width: 370px;
    height: 294px;
}
.examp-txt {
    position: absolute;
    width: 100%;
    height: 70px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 27px;
    padding-top: 27px;
    bottom: 0;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--full-white);
    background-color: rgba(47, 48, 58, 0.8);
}


    /*СЕКЦИЯ 4*/
.section-four {
    padding-bottom: 94px;
    background-color: #F5F4FA;
}
.team-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.team-ul {
    display: flex;
    justify-content: space-between;
}
.team-ul li {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-ul h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 94px;
}
.team-ul h3 {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
}
.team-ul p {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-container h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;

}
.about {
    margin-top: 30px;
}
.team-icon {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 30px;
    margin-left: 32px;
    margin-right: 32px;
    color: #AFB1B8;
}
.social-icon-team {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon-team:hover,
.social-icon-team:focus {
    background-color: var(--accent-button-color);
    color: #fff;
    transition: var(--timing-cubic);
}
.team-icon a:not(:last-child) {
    margin-right: 10px;
}






/*СЕКЦИЯ 5*/
.section-five {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.clients-container h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--primary-text-color);
}
.clients-ul {
    display: flex;
}
.clients-ul li:not(:last-child) {
    margin-right: 30px;
}

.clients-icon {
    display: flex;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
}
.clients-icon:hover,
.clients-icon:focus{
    color: var(--accent-button-color);
    border-color: var(--accent-button-color);
    transition: var(--timing-cubic);
}







/*PORTFOLIO*/



/*Портфолио*/
.portfolio {
    padding-bottom: 94px;
    padding-top: 94px;
}
.div-portfolio {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-ul {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.portfolio-ul li {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
}
.portfolio-ul li:nth-child(3n) {
    margin-right: 0px;
}
.portfolio-ul li:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}
.portfolio-ul h2 {
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}
.portfolio-about p {
    color: var(--secondary-text-color);
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}
.portfolio-about {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.portfolio-about {
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.portfolio-ul li:hover, :focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.overlay {
    position: relative;
    overflow: hidden;
}
.card-overlay {
    position: absolute;
    transform: translateY(100%);
    transition: var(--timing-cubic);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color:var(--full-white);
    background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-ul a:hover .card-overlay,
.portfolio-ul a:focus .card-overlay {
    opacity: 1;
    transform: translateY(0);
}








/* Низ страницы */
#footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.nav-footer {
    font-style: unset;
    width: 231px;
}
.nav-footer li:not(:first-child) {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

}
.adress {
    color: var(--full-white);
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.logo-two{
    margin-bottom: 20px;
}
.flex-footer {
    display: flex;
}
.social {
    margin-left: 70px;

}
.social h4 {
    padding-bottom: 20px;
    color: var(--full-white);
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.social-links {
    display: flex;
    justify-content: center;

}
.social-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.social-links li:not(:last-child) {
    margin-right: 10px;
}
.social-icon:hover,
.social-icon:focus {
    background-color:  var(--accent-button-color);
    transition: var(--timing-cubic);
}
.form-bot{
    margin-left: auto;
}
.form-bot label {
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;
}
.form-bot input {
    padding: 16px 15px;
    margin-right: 12px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
    font-style: normal;
    color: #FFFFFF;
    background-color: #2F303A;
    outline: transparent;
}
.form-bot input::placeholder {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.subscribe {
    display: flex;
    align-items: center;
}
.subbtn-bot {
    width: 200px;
    height: 50px;
    background-color: var(--accent-button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
    color: #FFFFFF; 
}
.subbtn-bot:hover {
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
    color: #FFFFFF; 
    background-color: #188CE8;
    transition: var(--timing-cubic);
}
.subscribe svg {
    margin-left: 10px;
}






    /* Плюшки */
.main-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main-container h1 {
    color: var(--full-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    margin: 0px;
    padding-bottom: 30px;
}
.icon {
    fill: currentColor;
}
.current {
    position: relative;
    padding-bottom: 32px;
    color: var(--accent-button-color);
}
.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-button-color);
}






/*Кнопки*/
.buttons {
    width: 611px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

}
.button-primary {
    background-color: var(--primary-button-color);
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    border-radius: 4px;
}
.button-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    background-color: var(--accent-button-color);
    color: var(--full-white);
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.button-primary:hover,
.button-primary:focus {
    color: var(--full-white);
    background-color: var(--accent-button-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: var(--timing-cubic);
}
.buttons-ul li:not(:last-child){
    margin-right: 8px;
}







/*ССЫЛКИ*/
a[href="mailto:info@devstudio.com"],
a[href="tel:+380961111111"] {
    color: var(--secondary-text-color);
}

.nav-list a:hover {
    color: var(--accent-button-color);
    transition: var(--timing-cubic);
}
.nav-hover a:hover {
    color: var(--accent-button-color);
    transition: var(--timing-cubic);
}
.nav-hover {
    padding: 0px;
    margin: 0px;
}



/* MODAL */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity var(--timing-cubic);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0.1);
}
.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    transition: transform var(--timing-cubic);
    background: var(--full-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background: #FFFFFF;
}
.close-btn:hover {
    color: var(--accent-button-color);
    transition: var(--timing-cubic);
}



/* MODAL FORM */


/* ФОРМА */
.form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 448px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.form-field span {
    position: relative;
    display: inline-block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}
.form-field input {
    padding: 12px 42px;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    outline: transparent;
}
.form-field svg {
    position: absolute;
    top: 50%;
    left: 12px;
    cursor: pointer;
}
.form-input:focus ~ .icon,
.form-input:hover ~ .icon {
    color: #2196F3;
    border-color:#2196F3;
    transition: var(--timing-cubic);
}
.form-input:focus,
.form-input:hover {
    border-color:#2196F3;
    transition: var(--timing-cubic);
}
.comment::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.comment {
    padding: 12px 16px;
    width: 448px;
    height: 120px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: transparent;
}
.agreement {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.agreement label {
    display: flex;
    align-items: center;
}
.agreement a {
    display: inline;
    text-decoration: underline;
    color:var(--accent-button-color)
}
.send-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #2196F3;
}
.send-form-btn:hover,
.send-form-btn:focus {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    transition: var(--timing-cubic);
    background-color: #188CE8;
}
.checkbox-icon {
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid #212121;
    border-radius: 2px;
    transition: var(--timing-cubic);
}
.checkbox:checked + .checkbox-icon {
    width: 16px;
    height: 15px;
    border-radius: 2px;
    border-color: #2196F3;
    background: #2196F3;
    background-image: url(../images/icons/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    transition: var(--timing-cubic);
}
.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
